{% extends 'layout.html' %}
{% block title %}
Praful - Python Developer
{% endblock title %}

{% block js %}
{% comment %} <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endcomment %}
{% comment %} <script src="https://www.google.com/recaptcha/api.js?render=6LeBgj8hAAAAAKV7_ivtekltx9HU4WbGw4cr9RMW"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('6LeBgj8hAAAAAKV7_ivtekltx9HU4WbGw4cr9RMW', {action: 'submit'}).then(function(token) {
        // Add your logic to submit to your backend server here.
    });
  });
</script> {% endcomment %}
{% comment %} <script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script> {% endcomment %}

{% endblock js %}
