<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
    <div class="container-fluid px-md-5">
            <div class="row d-md-flex align-items-center">
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="2">2</strong>
            <span>Achivements</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="4">4</strong>
            <span>Complete Projects</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="6">6</strong>
            <span>Happy Customers</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="10">10</strong>
            <span>Skills</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
