{% load static %}
<section class="ftco-section ftco-project" id="projects-section">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
          <h1 class="big big-2">Projects</h1>
        <h2 class="mb-4">My Projects</h2>
        <p>I have done various projects so far there listed below.</p>
      </div>
    </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/project1.png' %});">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="https://www.agencynext.in/" target="_blank">An ERP Application with all ERP features.</a></h3>
                        <a href="https://www.agencynext.in/" target="_blank"><span>agencynext.in</span></a>
                    </div>
                </div>
              </div>
              {% comment %} <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/project2.png' %});">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="https://www.holidayjunction.in/" target="_blank">An online ticket selling & booking site.</a></h3>
                        <a href="https://www.holidayjunction.in/" target="_blank"><span>holidayjunction.in</span></a>
                    </div>
                </div>
              </div> {% endcomment %}

            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/project3.png' %});">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="https://www.steponetechnologies.com/" target="_blank">My current company website.</a></h3>
                        <a href="https://www.steponetechnologies.com/" target="_blank"><span>steponetechnologies.com</span></a>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/project4.png' %});">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="https://www.steponeapi.com/" target="_blank">An Ecommerce Eebsite.</a></h3>
                        <a href="https://www.steponeapi.com/" target="_blank"><span>steponeapi.com</span></a>
                    </div>
                </div>
            </div>
            {% comment %}<div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-5.jpg' %});">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                        <span>Web Design</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/work-6.jpg' %});">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                        <span>Web Design</span>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
