<section class="ftco-section ftco-no-pb goto-here" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav id="navi">
                    <ul>
                      <li><a href="#page-1">Education</a></li>
                      <li><a href="#page-2">Experience</a></li>
                      <li><a href="#page-3">Skills</a></li>
                      <li><a href="#page-4">Achivements</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="col-md-9">
                  <div id="page-1" class= "page one">
                      <h2 class="heading">Education</h2>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2017-2021</span>
                            <h2>Bachelor of Engineering. in Electronics & Telecommunication.</h2>
                            <span class="position">R.T.M.N.U University</span>
                            <p>I have done my B.E from "Jhulelal Institute Of Technology".</p>
                            <span class="position">Aggregate/Percentage: 8.09 SGPA</span>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2015-2017</span>
                            <h2>Higher Secondary Certificate (12th)</h2>
                            <span class="position">Maharashtra State Board of Secondary & Higher Secondary Education</span>
                            <p>I have done my H.S.C from "Dada Ramchand Bakhru Sindhu Mahavidyalaya".</p>
                            <span class="position">Aggregate/Percentage: 60.77%</span>
                        </div>
                    </div>
                    {% comment %} <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2014-2015</span>
                            <h2>Diploma in Computer</h2>
                            <span class="position">Cambridge University</span>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2014-2015</span>
                            <h2>Art &amp; Creative Director</h2>
                            <span class="position">Cambridge University</span>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                    </div> {% endcomment %}
                  </div>

                  <div id="page-2" class= "page two">
                      <h2 class="heading">Experience</h2>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2021-Present</span>
                            <h2>Software Engineer</h2>
                            <span class="position"><a href="https://www.steponetechnologies.com" target="_blank">Stepone Technologies Pvt Ltd</a></span>
                            <p>"StepOne Technologies provides services for Software Development, Wireless Technologies, IT & Mobile Applications for various industries."</p>
                        </div>
                    </div>
                    {% comment %} <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2014-2015</span>
                            <h2>Web Designer</h2>
                            <span class="position">Cambridge University</span>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2014-2015</span>
                            <h2>Web Marketing</h2>
                            <span class="position">Cambridge University</span>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2014-2015</span>
                            <h2>Art &amp; Creative Director</h2>
                            <span class="position">Side Tech</span>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2014-2015</span>
                            <h2>Wordpress Developer</h2>
                            <span class="position">Cambridge University</span>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                    </div>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2017-2018</span>
                            <h2>UI/UX Designer</h2>
                            <span class="position">Cambridge University</span>
                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                    </div> {% endcomment %}
                  </div>
                  <div id="page-3" class= "page three">
                      <h2 class="heading">Skills</h2>
                      <div class="row progress-circle mb-5">
                          <div class="col-lg-4 mb-4">
                          <div class="bg-white rounded-lg shadow p-4">
                            <h2 class="h5 font-weight-bold text-center mb-4">Python</h2>

                            <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='100'>
                              <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                              </span>
                              <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                              </span>
                              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">100<sup class="small">%</sup></div>
                              </div>
                            </div>
                            <!-- END -->

                            <!-- Demo info -->
                            <div class="row text-center mt-4">
                              <div class="col-6 border-right">
                                <div class="h4 font-weight-bold mb-0">100%</div><span class="small text-gray">Last week</span>
                              </div>
                              <div class="col-6">
                                <div class="h4 font-weight-bold mb-0">100%</div><span class="small text-gray">Last month</span>
                              </div>
                            </div>
                            <!-- END -->
                          </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                          <div class="bg-white rounded-lg shadow p-4">
                            <h2 class="h5 font-weight-bold text-center mb-4">Django</h2>

                            <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='100'>
                              <span class="progress-left">
                                <span class="progress-bar border-primary"></span>
                              </span>
                              <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                              </span>
                              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">100<sup class="small">%</sup></div>
                              </div>
                            </div>
                            <!-- END -->

                            <!-- Demo info -->
                            <div class="row text-center mt-4">
                              <div class="col-6 border-right">
                                <div class="h4 font-weight-bold mb-0">100%</div><span class="small text-gray">Last week</span>
                              </div>
                              <div class="col-6">
                                <div class="h4 font-weight-bold mb-0">100%</div><span class="small text-gray">Last month</span>
                              </div>
                            </div>
                            <!-- END -->
                          </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                          <div class="bg-white rounded-lg shadow p-4">
                            <h2 class="h5 font-weight-bold text-center mb-4">Javascript</h2>

                            <!-- Progress bar 1 -->
                            <div class="progress mx-auto" data-value='75'>
                              <span class="progress-left">
                                  <span class="progress-bar border-primary"></span>
                              </span>
                              <span class="progress-right">
                                <span class="progress-bar border-primary"></span>
                              </span>
                              <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h2 font-weight-bold">75<sup class="small">%</sup></div>
                              </div>
                            </div>
                            <!-- END -->

                            <!-- Demo info -->
                            <div class="row text-center mt-4">
                              <div class="col-6 border-right">
                                <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last week</span>
                              </div>
                              <div class="col-6">
                                <div class="h4 font-weight-bold mb-0">40%</div><span class="small text-gray">Last month</span>
                              </div>
                            </div>
                            <!-- END -->
                          </div>
                        </div>


                      </div>
                      <div class="row">
                          <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>HTML5</h3>
                                    <div class="progress">
                                         <div class="progress-bar color-1" role="progressbar" aria-valuenow="100"
                                          aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        <span>100%</span>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>CSS3</h3>
                                    <div class="progress">
                                         <div class="progress-bar color-2" role="progressbar" aria-valuenow="75"
                                          aria-valuemin="0" aria-valuemax="100" style="width:75%">
                                        <span>75%</span>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>BOOTSTRAP</h3>
                                    <div class="progress">
                                         <div class="progress-bar color-3" role="progressbar" aria-valuenow="95"
                                          aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span>95%</span>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>MYSQL</h3>
                                    <div class="progress">
                                         <div class="progress-bar color-4" role="progressbar" aria-valuenow="90"
                                          aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                          </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>REST-API</h3>
                                    <div class="progress">
                                         <div class="progress-bar color-6" role="progressbar" aria-valuenow="100"
                                          aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        <span>100%</span>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 animate-box">
                                <div class="progress-wrap ftco-animate">
                                    <h3>DEPLOYMENT</h3>
                                    <div class="progress">
                                         <div class="progress-bar color-5" role="progressbar" aria-valuenow="90"
                                          aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>90%</span>
                                          </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
                  <div id="page-4" class= "page four">
                    <h2 class="heading">Achivements</h2>
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2022-Present</span>
                            <h2>Django Framework Udemy Certificate</h2>
                            <span class="position">Udemy.com <a href="https://www.udemy.com/certificate/UC-b408999a-0070-4d30-98f0-4c4cc2b294a0/" title="View Certificate" target="_blank"><span class="icon-paper-plane"></span></a></span>
                            <p>A udemy certified Django Developer.</p>

                        </div>
                    </div>


                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">2022-Present</span>
                            <h2>5 Star in Python Programming Language</h2>
                            <span class="position">HACKER RANK</span>
                            <p>Got 5 Stars in Python Programming Language.</p>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
    </div>
</section>
