{% load static %}
<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({% static 'images/about.jpg' %});">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate">
                  <h1 class="big">About</h1>
                <h2 class="mb-4">About Me</h2>
                {% if intros %}
                {% for intro in intros %}
                <p>
                    {{intro.introText|linebreaksbr}}
                </p>
                {% endfor %}
                {% else %}
                <p>An innovative individual with in-depth knowledge of languages and development tools, seeking a position in a growth-oriented
                    company where I can use my skills to the advantage of the company while having the scope to develop my own skills.
                </p>
                {% endif %}
                <ul class="about-info mt-4 px-md-0 px-2">
                    {% if titles %}
                        {% for title in titles %}
                            <li class="d-flex"><span>{{ title.titleName }}</span> <span>{{ title.value }}</span></li>
                        {% endfor %}
                    {% else %}
                    <li class="d-flex"><span>Name:</span> <span>Praful Patekar</span></li>
                    <li class="d-flex"><span>Date of birth:</span> <span>February 23, 2000</span></li>
                    <li class="d-flex"><span>Address:</span> <span>Tandapeth Near Darvekar Dangal, Nagpur</span></li>
                    <li class="d-flex"><span>Zip code:</span> <span>440017</span></li>
                    {% comment %} <li class="d-flex"><span>State & Country:</span> <span>Maharashtra, India</span></li> {% endcomment %}
                    <li class="d-flex"><span>Email:</span> <span>prafulpatekar23@gmail.com</span></li>
                    <li class="d-flex"><span>Phone: </span> <span>+91-8625-9212-07 , +91-8180-8543-49</span></li>
                    {% endif %}
                    
                </ul>
              </div>
            </div>
          <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
            <div class="d-flex">
                <p class="mb-4 mr-5 text-center">
                    <span>Projects</span>
                    <span class="number " data-number="4">0</span>
                </p>
                <p class="mb-4 mr-5 text-center">
                    <span>Skills</span>
                    <span class="number " data-number="10">0</span>
                </p>
                <p class="mb-4 mr-5 text-center">
                    <span>Achivements</span>
                    <span class="number " data-number="2">0</span>
                </p>
                <p class="mb-4 mr-5 text-center">
                    <span>Clients</span>
                    <span class="number " data-number="6">0</span>
                </p>
            </div>
            
            <p><a href="{% static 'pdf/Praful.Coder.pdf' %}" target="_blank" class="btn btn-primary py-3 px-3">Download CV</a></p>
          </div>
          </div>
        </div>
    </div>
    </div>
</section>