{% load static %}
<section class="ftco-section ftco-hireme img" style="background-image: url({% static 'images/bg_1.jpg' %})">
    <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 ftco-animate text-center">
                    <h2>I'm <span>Available</span> for freelancing</h2>
                    <p>Hire me for your next project or work.</p>
                    <p class="mb-0"><a href="#contact-section" class="btn btn-primary py-3 px-5">Hire me</a></p>
                </div>
            </div>
        </div>
</section>